<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous" />
    <title>Mercado Liebre de Impuestos</title>
</head>

<body>

    <header class="main-header">
        <div class="header-top">
            <div class="logo-container">
                
                    <img class="logo"
                        src="images/logo-mercado-liebre.svg"
                        alt="Logo de mercado libre" />
                
            </div>
            <div class="search-container">
                <input type="text" placeholder="Buscar productos, marcas..." class="input-search">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <p class="cta-container">
                <!-- Comprá en cuotas y sin tarjeta de crédito -->
                <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
                tarjeta de crédito
            </p>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="main-nav">
            <!-- Barra de navegación -->
            <ul class="nav-list">
                <li><a href="#" class="nav-link" target="_blank" rel="noopener noreferrer">Ofertas </a>
                </li>
                <li><a href="#" class="nav-link" target="_blank" rel="noopener noreferrer">Tiendas
                        Oficiales</a></li>
                <li><a href="#" class="nav-link" target="_blank" rel="noopener noreferrer">Vender</a>
                </li>
                <li><a href="#" class="nav-link" target="_blank" rel="noopener noreferrer">Ayuda</a></li>
            </ul>
            <ul class="nav-list2">
                <li><a href="register" class="nav-link"  target="_blank" rel="noopener noreferrer">Creá tu cuenta <i
                            class="fa-regular fa-id-card"></i> </a></li>
                <li><a href="login" class="nav-link" target="_blank" rel="noopener noreferrer">Ingresá <i
                            class="fa-solid fa-right-to-bracket"></i> </a></li>
                <li><a href="#" class="nav-link" target="_blank" rel="noopener noreferrer">Mis compras <i
                            class="fa-solid fa-basket-shopping"></i> </a></li>
            </ul>
        </nav>


    </header>
    <!-- <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section> -->
    <main class="main-mid">
        <h2 class="title_section">Basado en tu última visita</h2>
        <!-- Sección Basado en tu ultima visita -->
        <section class="product-section">
            

            <!-- Producto 1 -->
            <div class="producto">

                <img src="images/img-cafetera-moulinex.jpg"
                    alt="Cafetera Moulinex">
                <div class="producto-info">
                    <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
                    <div class="producto-info-price">
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>
                    </div>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </div>

            <!-- Producto 2 -->
            <div class="producto">

                <img src="images/img-macbook-pro-2019.jpg"
                    alt="MacBook Pro 2019">
                <div class="producto-info">
                    <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
                    <div class="producto-info-price">
                        <p class="price">$230.000</p>
                        <p class="discount">20% OFF</p>
                    </div>
                    <p class="description">MacBook Pro 2019</p>
                </div>
            </div>

            <!-- Producto 3 -->
            <div class="producto">
                <img src="images/img-samsung-galaxy-s10.jpg"
                    alt="MacBook Pro 2019">
                <div class="producto-info">
                    <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
                    <div class="producto-info-price">
                        <p class="price">$70.500</p>
                        <p class="discount">10% OFF</p>
                    </div>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </div>

            <!-- Producto 4 -->
            <div class="producto">
                <img src="images/img-tv-samsung-smart.jpg"
                    alt="MacBook Pro 2019">
                <div class="producto-info">
                    <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
                    <div class="producto-info-price">
                        <p class="price">$23.200</p>
                        <p class="discount">5% OFF</p>
                    </div>
                    <p class="description">SmartTv Samsung 43"</p>
                </div>
            </div>
        </section>
        
        <!-- Sección de Ofertas -->
        <h2 class="title_section">Ofertas</h2>
        <section class="offer-section">
            

            <!-- Oferta 1 -->
            <div class="oferta">
                <img src="images/img-cafetera-moulinex.jpg"
                    alt="Cafetera Moulinex">
                <div class="producto-info">
                    <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
                    <div class="producto-info-price">
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>
                    </div>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </div>

            <!-- Oferta 2 -->
            <div class="oferta">
                <img src="images/img-macbook-pro-2019.jpg"
                    alt="MacBook Pro 2019">
                <div class="producto-info">
                    <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
                    <div class="producto-info-price">
                        <p class="price">$230.000</p>
                        <p class="discount">20% OFF</p>
                    </div>
                    <p class="description">MacBook Pro 2019</p>
                </div>
            </div>

            <!-- Oferta 3 -->
            <div class="oferta">
                <img src="images/img-samsung-galaxy-s10.jpg"
                    alt="MacBook Pro 2019">
                <div class="producto-info">
                    <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
                    <div class="producto-info-price">
                        <p class="price">$70.500</p>
                        <p class="discount">10% OFF</p>
                    </div>
                    <p class="description">Samsung Galaxy S10</p>
                </div>
            </div>

            <!-- Oferta 4 -->
            <div class="oferta">
                <img src="images/img-macbook-pro-2019.jpg"
                    alt="MacBook Pro 2019">
                <div class="producto-info">
                    <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
                    <div class="producto-info-price">
                        <p class="price">$23.200</p>
                        <p class="discount">5% OFF</p>
                    </div>
                    <p class="description">SmartTv Samsung 43"</p>
                </div>
            </div>

        </section>
    
    </main>

    <footer>
        <!-- Pago con tarjeta o en efectivo -->
        <section class="footer-section">
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>

        <!-- Envio gratis -->
        <section class="footer-section">
            <h3>Envío gratis desde $2,500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>

        <!-- Seguridad -->
        <section class="footer-section">
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>

        <!-- Copyright -->
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>

</html>