<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous" />
    <title>Mercado Liebre de Impuestos</title>
</head>

<body>

    <header>
        <div class="header-top">
            <div class="logo-container">
                <a href="#">
                    <img class="logo"
                        src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.5.16/mercadolibre/logo__large_plus@2x.png"
                        alt="Logo de mercado libre" />
                </a>
            </div>
            <div class="search-container">
                <!-- Lugar para la barra de búsqueda -->
                <input type="text" placeholder="Buscar..." class="input-search">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="cta-container">
                <!-- Comprá en cuotas y sin tarjeta de crédito -->
                <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
                tarjeta de crédito
            </div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="main-nav">
            <!-- Barra de navegación -->
            <ul class="nav-list">
                <li><a href="#" class="nav-link">Ofertas </a></li>
                <li><a href="#" class="nav-link">Tiendas Oficiales</a></li>
                <li><a href="#" class="nav-link">Vender</a></li>
                <li><a href="#" class="nav-link">Ayuda</a></li>
            </ul>
            <ul class="nav-list2">
                <li><a href="#" class="nav-link">Creá tu cuenta <i class="fa-regular fa-id-card"></i> </a></li>
                <li><a href="#" class="nav-link">Ingresá <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                <li><a href="#" class="nav-link">Mis compras <i class="fa-solid fa-basket-shopping"></i> </a></li>
            </ul>
        </nav>


    </header>

    <main>
        <!-- Sección Basado en tu ultima visita -->
        <section>
            <h2>Basado en tu última visita</h2>

            <!-- Producto 1 -->
            <div class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </div>

            <!-- Producto 2 -->
            <div class="producto">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </div>

            <!-- Producto 3 -->
            <div class="producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="MacBook Pro 2019">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </div>

            <!-- Producto 4 -->
            <div class="producto">
                <img src="/images/img-tv-samsung-smart.jpg" alt="MacBook Pro 2019">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </div>

        </section>

        <!-- Sección de Ofertas -->
        <section>
            <h2>Ofertas</h2>

            <!-- Oferta 1 -->
            <div class="oferta">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </div>

            <!-- Oferta 2 -->
            <div class="oferta">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </div>

            <!-- Oferta 3 -->
            <div class="oferta">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="MacBook Pro 2019">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </div>

            <!-- Oferta 4 -->
            <div class="oferta">
                <img src="/images/img-tv-samsung-smart.jpg" alt="MacBook Pro 2019">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </div>


        </section>

    </main>

    <footer>
        <!-- Pago con tarjeta o en efectivo -->
        <section class="footer-section">
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>

        <!-- Envio gratis -->
        <section class="footer-section">
            <h3>Envío gratis desde $2,500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>

        <!-- Seguridad -->
        <section class="footer-section">
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>

        <!-- Copyright -->
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>

</html>