<header class="main-header">
    <div class="header-top">
        <div class="logo-container">
            
                <img class="logo"
                    src="/images/logo-mercado-liebre.svg"
                    alt="Logo de mercado libre" />
            
        </div>
        <div class="search-container">
            <input type="text" placeholder="Buscar productos, marcas..." class="input-search">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <p class="cta-container">
            <!-- Comprá en cuotas y sin tarjeta de crédito -->
            <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
            tarjeta de crédito
        </p>
    </div>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    <nav class="main-nav">
        <!-- Barra de navegación -->
        <ul class="nav-list">
            <li><a href="#" class="nav-link" target="_blank" rel="noopener noreferrer">Ofertas </a>
            </li>
            <li><a href="#" class="nav-link" target="_blank" rel="noopener noreferrer">Tiendas
                    Oficiales</a></li>
            <li><a href="#" class="nav-link" target="_blank" rel="noopener noreferrer">Vender</a>
            </li>
            <li><a href="#" class="nav-link" target="_blank" rel="noopener noreferrer">Ayuda</a></li>
        </ul>
        <ul class="nav-list2">
            <li><a href="/user/register" class="nav-link"  target="_blank" rel="noopener noreferrer">Creá tu cuenta <i
                        class="fa-regular fa-id-card"></i> </a></li>
            <li><a href="/user/login" class="nav-link" target="_blank" rel="noopener noreferrer">Ingresá <i
                        class="fa-solid fa-right-to-bracket"></i> </a></li>
            <li><a href="#" class="nav-link" target="_blank" rel="noopener noreferrer">Mis compras <i
                        class="fa-solid fa-basket-shopping"></i> </a></li>
        </ul>
    </nav>


</header>